@model NomadCars.Models.Person

@{
    ViewBag.Title = "Create";
}

<header class="jumbotron">
    <h1>Nomad Cars</h1>
    <h2>Add Personal Details</h2>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Partial("_PersonForm")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Details" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
